* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 75%;
  }
}

body {
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgb(27, 27, 27) 0%,
    rgba(44, 44, 44, 1) 74%
  );
  color: white;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.logo {
  height: 8rem;
  margin-left: 3rem;
}

.redes {
  margin-right: 5rem;
  display: flex;
  width: 10vw;
  font-size: 2.6rem;
  justify-content: space-between;
}

.redes a {
  transition: all 0.5s;
  color: white;
}

.redes a:hover {
  margin-top: -0.5rem;
  color: #e50914;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.title {
  margin-left: 5rem;
  font-size: 5rem;

  animation: moveInRight 0.8s ease-out;
}

.detalles {
  display: flex;
  margin-left: 5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.director {
  margin-right: 3rem;
}

.texto {
  margin-left: 5rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  width: 50vw;
}

.botones {
  display: flex;
  width: 25vw;
  margin-left: 5rem;
  margin-top: 1.5rem;
  color: #fff;
  align-content: center;
}

.boton {
  flex: 0 0 50%;
  display: flex;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  height: 3rem;
  font-size: 1.3rem;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.boton-principal {
  background-color: #e50914;
  margin-right: 2rem;

  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgb(255, 255, 255) 50%
  );
  transition: background-position 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.6s ease 0s, background-color 0.6s ease;
}

.boton-principal:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-position: -100% 100%;
}

.boton-secundario {
  color: #fff;
  border: 1.5px solid #fff;

  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgb(255, 255, 255) 50%
  );
  transition: background-position 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.6s ease 0s, background-color 0.6s ease;
}

.boton-secundario:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-position: -100% 100%;
}

.contenido {
  width: 75vw;
  position: absolute;
  bottom: 2rem;
  display: flex;
  margin-left: 5rem;
  margin-top: 1rem;
  height: 40vh;
}

#tarjeta_batman {
  background-image: linear-gradient(
      0deg,
      rgb(0, 0, 0) 22%,
      rgba(44, 44, 44, 0) 100%
    ),
    url("../imagenes/poster_batman.jpg");
}

#tarjeta_bastardos {
  background-image: linear-gradient(
      0deg,
      rgb(0, 0, 0) 22%,
      rgba(44, 44, 44, 0) 100%
    ),
    url("../imagenes/poster_bastardos.jpg");
}

#tarjeta_blade {
  background-image: linear-gradient(
      0deg,
      rgb(0, 0, 0) 22%,
      rgba(44, 44, 44, 0) 100%
    ),
    url("../imagenes/poster_blade.jpg");
}

#tarjeta_rocky {
  background-image: linear-gradient(
      0deg,
      rgb(0, 0, 0) 22%,
      rgba(44, 44, 44, 0) 100%
    ),
    url("../imagenes/poster_rocky.jpg");
}

.tarjeta {
  background-image: linear-gradient(
    0deg,
    rgb(0, 0, 0) 22%,
    rgba(44, 44, 44, 0) 100%
  );
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
  flex: 0 0 20%;
  margin-bottom: 3rem;
  margin-right: 2rem;
  border-radius: 1rem;
  padding: 2rem 1rem;
  cursor: pointer;
}

.tarjetaActiva {
  box-shadow: 1 29px 69px 4px rgba(0, 0, 0, 0.75);
}

.tarjeta__texto {
  position: absolute;
  bottom: 2rem;
}

.tarjeta__titulo {
  margin-bottom: 1rem;
}

.fechaDeLanzamiento {
  display: flex;
  flex-direction: column;
  background-color: #c7c7c76e;
  width: 7rem;
  height: 7rem;
  border-radius: 10000px;
  margin-top: -1rem;
  text-align: center;
  justify-content: center;
  font-weight: 600;
}

.fecha {
  font-size: 3rem;
}

.buttonForm {
  background-color: #e50914;
  height: 6rem;
  width: 6rem;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4vh;
  right: 6vw;
  cursor: pointer;
  transition: all 0.2s;
}

.buttonForm:hover {
  background-color: #99070e;
}

.buttonForm i {
  font-size: 2.8rem;
}

.imagenPrincipal {
  height: 100vh;
  width: auto;
  position: absolute;
  right: 0;
  top: 0rem;
  z-index: -1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 40vw;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 4;
  color: #000;
  display: block;
}

.modal__form {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 2rem 0 0 2rem;
  justify-content: space-around;
}

.modal__titulo {
  font-size: 2.5rem;
  margin: 2rem 0 0 2rem;
}

.modal__input {
  border-radius: 5px;
  border: 1.5px solid #707070;
  width: 70%;
  height: 3rem;
}

.modal__label:not(:first-child) {
  margin-top: 2rem;
}

.modal__boton {
  width: 40%;
  border: none;
  margin: 2rem auto;
}

.modal__boton:hover {
  border: 1px #000 !important;
}

.modal__cross {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #000;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.1s;
}

.modal__cross:hover {
  color: rgb(73, 73, 73);
}

.invisible {
  display: none;
}

#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 3;
}
